services:
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ghost
      POSTGRES_PASSWORD: ghost
      POSTGRES_DB: ghost_db
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
